<form action="/edit" class="form-inline" method="POST">
	
	  <input type="hidden" name="_method" value = "put" placeholder="note title" class="form-control" size="30">
	  <p></p>
	  <input type="hidden" value="put" name="description" placeholder="describe your note" class="form-control" size="30"><br>
	  <p></p>
	  <textarea type="text" name="content" rows="10" cols="30" placeholder="Type note" class="form-control"></textarea><br>
	  <p></p>
	  <button type="submit" class="btn btn-success">Save</button>
</form>