<form action="/new" class="form-inline" method="POST">
	Title:
	  <input type="text" name="title" placeholder="note title">
	  <p></p>
	Description:
	  <input type="text" name="description" placeholder="describe your note"> <br>
	  <p></p>
	  <textarea type="text" name="content" rows="10" cols="30" placeholder="Type note"></textarea><br>
	  <!--<input type="text" placeholder="Type notes" name="content">-->
	  <button type="submit" class="btn">Save</button>
</form>