<form action="/new" class="form-inline" method="POST">
	<h4>Note Title:</h4>
	  <input type="text" name="title" placeholder="note title" class="form-control" size="30">
	  <p></p>
	<h4>Note Description:</h4>
	  <input type="text" name="description" placeholder="describe your note" class="form-control" size="30"> <br>
	  <p></p>
	  <textarea type="text" name="content" rows="10" cols="30" placeholder="Type note" class="form-control"></textarea><br>
	  <p></p>
	  <button type="submit" class="btn btn-success">Save</button>
</form>